#banner {
  background-size: cover;
  background-position: top;
  color:  white;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px #b3b3c9e3;
}
